<!DOCTYPE html>
<html lang=en>

  <head>
    <title>socialnetwork / Privacy Policy</title>
    <link rel=stylesheet href="/reset.css">
    <link rel=stylesheet href="/defaults.css">
    <link rel=stylesheet href="/documents.css">
  </head>

  <body>

    <header>
      <nav>
        <a href="/">socialnetwork</a>
      </nav>
    </header>

    <main>

      <h1>Privacy Policy</h1>

      <p>socialnetwork may use both session cookies and persistent cookies to better
      understand how you interact with our Services, to monitor aggregate usage by our
      users and web traffic routing on our Services, and to customize and improve our
      Services.</p>

      <p>Our servers can record information created by use of the Services, such as your
      IP address, browser type, operating system, the referring web page, pages
      visited, location, cookie information.</p>

      <p>socialnetwork uses third-party services to help provide our Services, such as Google
      Analytics. These third-party service providers may collect information sent by
      your browser as part of a web page request, such as cookies or your IP
      address.</p>

      <p>You can also permanently delete your socialnetwork account. By deactivate your
      account, it will be deleted after arround 30 days.</p>

      <p>Our Services are not directed to persons under 13.</p>

      <p>We may revise this Privacy Policy from time to time. By continuing to access or
      use the Services after those changes become affective, you agree to be bound by
      the revised Privacy Policy.</p>

    </main>

    <script src="/analytics.js"></script>

  </body>

</html>
