<!DOCTYPE html>
<html lang=fr>

  <head>
    <title>socialnetwork / Politique de confidentialité</title>
    <link rel=stylesheet href="/reset.css">
    <link rel=stylesheet href="/defaults.css">
    <link rel=stylesheet href="/documents.css">
  </head>

  <body>

    <header>
      <nav>
        <a href="/">socialnetwork</a>
      </nav>
    </header>

    <main>

      <h1>Politique de confidentialité</h1>

      <p>socialnetwork pourra utiliser à la fois des Cookies de session et des cookies persistants
      pour mieux comprendre votre interaction avec nos Services, pour surveiller
      l'utilisation agrégée de nos utilisateurs, ainsi que le routage du trafic Web
      sur nos Services, ou encore pour personnaliser et améliorer nos
      Services.</p>

      <p>Nos serveurs peuvent enregistrer des informations liées à votre
      utilisation des Services, telles que votre adresse IP, le type de votre
      navigateur, votre système d'exploitation, la page Web dont vous venez, les
      pages visitées, votre localisation, les cookies.</p>

      <p>socialnetwork utilise les services de prestataires tiers variés pour l'aider
      à fournir les Services, comme Google Analytics. Ces prestataires de service
      tiers collectent des informations envoyées par votre navigateur dans une
      requête de page Web, comme les cookies et votre adresse IP.</p>

      <p>Vous pouvez également supprimer de manière permanente votre compte
      socialnetwork. En désactivant votre compte, il sera supprimé 30 jours après,
      environ.</p>

      <p>Nos Services s'adressent à des personnes âgées de plus de 13 ans.</p>

      <p>Nous nous réservons le droit de modifier cette Politique de
      confidentialité à tout moment. En continuant d'accéder ou en utilisant les
      Services après l'entrée en vigueur de ces changements, vous acceptez être
      lié aux conditions énoncées dans la nouvelle Politique de confidentialité.</p>

    </main>

    <script src="/analytics.js"></script>

  </body>

</html>
