/* @charset "UTF-8"; */

body {
  background: #fff;
  overflow-y: scroll;
  font-size: 14px;
  font-family: sans-serif;
  color: #272727;
}

body.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

main#content {
  width: 1000px;
  padding: 0 12px;
  margin: 0 auto;
}

a {
  color: #4080c0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: dotted 1px;
}

.lfloat {
  float: left;
}

.rfloat {
  float: right;
}

#noscript {
  margin: 10px 0;
  padding: 10px 0;
  background: #171717;
  border-radius: 5px;
}

#noscript h3 {
  margin: 10px 0;
  text-align: center;
  font-size: 19px;
  color: #fec04c;
}
