/* =======================
   header
   ==================== */

header {
  min-width: 824px;
  background: #fdfdfd;
  border-bottom: 1px solid #e9e9e9;
}

header nav {
  width: 800px;
  padding: 0 12px;
  margin: 0 auto;
  height: 46px;
  line-height: 46px;
  font-size: 14px;
}

header nav a[href="/"] {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: -1px;
}

header nav a[href="/"]:hover,
header nav a[href="/"]:focus {
  color: #0096fd;
  text-decoration: none;
  outline: 0;
}


/* =======================
   main
   ==================== */

main {
  width: 800px;
  padding: 0 12px;
  margin: 0 auto;
}

p.error.closed {
  margin: 25px 0;
  color: #c33;
  font-size: 15px;
}

/* ===================
   form
   ================ */

form {
  margin: 48px 0 12px 120px;
}

form p.error {
  margin: 0;
  padding: 4px 0;
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: center left;
  background-image: url(/twitter/error-14x12.png);
  color: #c33;
}

form .prompt input,
form .prompt textarea {

  display: block;
  width: 320px;
  height: 20px;
  padding: 4px;
  margin-bottom: 9px;

  border: 1px solid #e0e0e0;
  border-radius: 3px;
  outline: 0;
  
  background: #fff;
  color: #212121;
  font-size: 13px;

}

form .prompt textarea {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 160px;
  min-height: 160px;
}

form .prompt input:focus,
form .prompt textarea:focus {
  border-color: #179de8;
}

/**
 * recaptcha
 */

#recaptcha_widget_div {
  margin-bottom: 12px;
}
