<!DOCTYPE html>
<html lang=en>

  <head>
    <title>socialnetwork / Terms of Service</title>
    <link rel=stylesheet href="/reset.css">
    <link rel=stylesheet href="/defaults.css">
    <link rel=stylesheet href="/documents.css">
  </head>

  <body>

    <header>
      <nav>
        <a href="/">socialnetwork</a>
      </nav>
    </header>

    <main>

      <h1>Terms of Service</h1>

      <p>By accessing or using the Services you agree to be bound by these Terms.</p>

      <p>You are responsible for your use of the Services, for any Content you post to
      the Services, and for any consequences thereof.</p>

      <p>The Services that socialnetwork provides are always evolving and the form and nature
      of the Services that socialnetwork provides may change from time to time without
      prior notice to you.</p>

      <p>You are responsible for safeguarding the password that you use to access the
      Services.</p>

      <p>All Content, whether publicly posted or privately transmitted, is the sole
      responsibility of the person who originated such Content.</p>

      <p>Under no circumstances will socialnetwork be liable in any way for any Content,
      including, but not limited to, any errors or omissions in any Content, or any
      loss or damage of any kind incurred as a result of the use of any Content
      posted, emailed, transmitted or otherwise made available via the Services or
      broadcast elsewhere.</p>

      <p>By submitting, posting or displaying Content on or through the Services, you
      grant us a worldwide, non-exclusive, royalty-free license to use, copy,
      reproduce, process, adapt, modify, publish, transmit, display and distribute
      such Content is any and all media or distribution methods.</p>

      <p>The Services are protected by copyright and trademark. Nothing in the Terms
      gives you a right to use the socialnetwork name or any of the socialnetwork trademarks,
      logos, domain names, and other distinctive brand features.</p>

      <p>We reserve the right at all times to remove or refuse to distribute any Content
      on the Services, to suspend, remove or terminate users, and to reclaim usernames
      without liability to you.</p>

      <p>You may not do any of the following while accessing or using the Services: (i)
      access, tamper with, or use non-public areas of the Services or socialnetwork's
      computer systems; (ii) probe, scan, or test the vulnerability of any system or
      network or breach or circumvent any security or authentication measures; (iii)
      accress or search or attempt to access or search the Services by any means
      (automated or otherwise) other than through our currently available, published
      interfaces that are provided by socialnetwork; (iv) forge any TCP/IP packet header
      or any part of the header information in any email or posting, or in any way use
      the Services to send altered, deceptive or false source-identifying information;
      (v) interfere with, or disrupt, (or attempt to do so), the access of any user,
      host or network, including, without limitation, sending a virus, overloading,
      flooding, spamming, mail-bombing the Services, or by scripting the creation of
      Content in such a manner as to interfere with or create an undue burden on the
      Services.</p>

      <p>We may revise these Terms from time to time. By continuing to access or use the
      Services after those revisions become effective, you agree to be bound by the
      revised Terms.</p>

    </main>

    <script src="/analytics.js"></script>

  </body>

</html>
