<!DOCTYPE html>
<html lang=en>

  <head>
    <title>socialnetwork / About</title>
    <link rel=stylesheet href="/reset.css">
    <link rel=stylesheet href="/defaults.css">
    <link rel=stylesheet href="/documents.css">
  </head>

  <body>

    <header>
      <nav>
        <a href="/">socialnetwork</a>
      </nav>
    </header>

    <main>

      <h1>About</h1>

      <p>Hey!</p>

      <p>
      I'm xxxx, I'm the founder of socialnetwork. I hope you'll like it :) He is
      still young but I hope there will be more people so I can add crazy
      functionnalities!
      </p>

      <p>
      Well, I have to work on this website.
      Have a great day! :D
      </p>

    </main>

    <script src="/analytics.js"></script>

  </body>

</html>
