<!DOCTYPE html>
<html lang=fr>

  <head>
    <title>socialnetwork / À propos</title>
    <link rel=stylesheet href="/reset.css">
    <link rel=stylesheet href="/defaults.css">
    <link rel=stylesheet href="/documents.css">
  </head>

  <body>

    <header>
      <nav>
        <a href="/">socialnetwork</a>
      </nav>
    </header>

    <main>

      <h1>À propos</h1>

      <p>Salut!</p>

      <p>
      Je m'appelle xxxx, je suis le fondateur de ce site. J'espère qu'il
      te plait :) Il est encore tout jeune, mais j'espère qu'il y aura de plus
      en plus de monde pour que je puisse rajouter pleins de fonctionnalités.
      </p>

      <p>
      Bon je te laisse, faut que j'avance sur le site.
      Bonne journée! :D
      </p>

    </main>

    <script src="/analytics.js"></script>

  </body>

</html>
